# 项目代码风格

root = true  # 保存在根目录下

[*]  # 适用所有文件
charset = utf-8
indent_style = space  # 缩进风格为空格
indent_size = 2  # 缩进大小为2个空格
end_of_line = lf  #换行风格
trim_trailing_whitespace = true  # 去掉行首的空白字符
insert_final_newline = true  # 每个文件尾插入空行

[*.md]  # 适用md文件
max_line_length = off
trim_trailing_whitespace = false

